@model Domain.Bislerium.ViewModels.AdminDashboardDetail

@{
    Layout = "_AdminLayout";
}

<div class="container mt-2">
    <h1>Admin Dashboard</h1>
    <hr />
    <div class="dropdown text-end mb-1 mt-0">
        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
            Filter by Month
        </button>
        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
            <li><a asp-action="Index1" asp-route-month="" class="dropdown-item">All-Time</a></li>
            @for (int month = 1; month <= 12; month++)
            {
                <li><a asp-action="Index1" asp-route-month="@month" class="dropdown-item">Month @month</a></li>
            }
        </ul>
    </div>

    <div class="row mt-4">
        @if (ViewBag.IsAllTime)
        {
            <div class="col-md-6">
                <div class="card">
                    <div class="card-body">
                        <h3 class="card-title">All Time Top Bloggers</h3>
                        <ul>
                            @foreach (var blogger in Model.Top10Bloggers)
                            {
                                <li>@blogger.User.UserName</li>
                            }
                        </ul>
                    </div>
                </div>
            </div>

            <div class="col-md-6">
                <div class="card">
                    <div class="card-body">
                        <h3 class="card-title">All Time Top Blog Posts</h3>
                        <ul>
                            @foreach (var post in Model.Top10BlogPosts)
                            {
                                <li>@post.Title</li>
                            }
                        </ul>
                    </div>
                </div>
            </div>
        }

        @if (!ViewBag.IsAllTime)
        {
            <div class="col-md-6">
                <div class="card">
                    <div class="card-body">
                        <h3 class="card-title">Top Bloggers for Month</h3>
                        <ul>
                            @foreach (var blogger in Model.Top10MonthlyBloggers)
                            {
                                <li>@blogger.User.UserName</li>
                            }
                        </ul>
                    </div>
                </div>
            </div>

            <div class="col-md-6">
                <div class="card">
                    <div class="card-body">
                        <h3 class="card-title">Top Blog Posts for Month</h3>
                        <ul>
                            @foreach (var post in Model.Top10MonthlyBlogPosts)
                            {
                                <li>@post.Title</li>
                            }
                        </ul>
                    </div>
                </div>
            </div>
        }
    </div>
</div>
