@model Domain.Bislerium.ViewModels.AdminDashboardDetail

@{
    Layout = "_AdminLayout";
    var monthNames = System.Globalization.CultureInfo.CurrentCulture.DateTimeFormat.MonthNames;
}


<style>
    .card-body p {
        font-size: medium;
    }
</style>

<div class="container mt-2">
    <div class="row mt-4">
        <h4>Admin Dashboard</h4>
        <hr />
        <div class="dropdown text-end mb-1 mt-0">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                Filter by Month
            </button>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                <li><a asp-action="Index" asp-route-month="" class="dropdown-item">All-Time</a></li>
                @for (int month = 0; month < 12; month++)
                {
                    <li><a asp-action="Index" asp-route-month="@(month + 1)" class="dropdown-item">@monthNames[month]</a></li>
                }
            </ul>
        </div>

        <div class="d-flex flex-column justify-content-center align-items-center">
            @if (ViewBag.IsAllTime)
            {
                <h3 class="card-title">All Time Data</h3>
                <div class="col-md-6">
                    <div class="card">
                        <div class="card-body">
                            <p>Total Blog Posts: <strong>@Model.TotalBlogPosts</strong></p>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-body">
                            <p>Total Upvotes: <strong>@Model.TotalUpvotes</strong></p>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-body">
                            <p>Total Downvotes: <strong>@Model.TotalDownvotes</strong></p>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-body">
                            <p>Total Comments: <strong>@Model.TotalComments</strong></p>
                        </div>
                    </div>
                </div>
            }
        </div>


        <div class="d-flex flex-column justify-content-center align-items-center">

            @if (!ViewBag.IsAllTime)
            {
                <h3 class="card-title">Month Data</h3>
                <div class="col-md-6">
                    <div class="card">
                        <div class="card-body">
                            <p>Total Blog Posts: <strong>@Model.MonthTotalBlogPosts</strong></p>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-body">
                            <p>Total Upvotes: <strong>@Model.MonthTotalUpvotes</strong></p>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-body">
                            <p>Total Downvotes: <strong>@Model.MonthTotalDownvotes</strong></p>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-body">
                            <p>Total Comments: <strong>@Model.MonthTotalComments</strong></p>
                        </div>
                    </div>
                </div>

            }
        </div>
    </div>
</div>
