@model List<Domain.Bislerium.Blog>

@{
    ViewData["Title"] = "All Blogs";
}

<h1 class="text-center my-4">Blogs</h1>

<div class="container blogs-record">

    <div class="dropdown text-end mb-1 mt-0">
        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
            Sort by
        </button>
        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
            <li><a asp-action="Index" asp-route-sortBy="recency" class="dropdown-item">Recency</a></li>
            <li><a asp-action="Index" asp-route-sortBy="popularity" class="dropdown-item">Popularity</a></li>
            <li><a asp-action="Index" asp-route-sortBy="random" class="dropdown-item">Random</a></li>
        </ul>
    </div>


    <div class="row">
        @foreach (var blog in Model)
        {
            <div class="col-md-4 mb-4">
                <div class="card h-100">
                    <img src="https://localhost:7241/@blog.Image" alt="@blog.Id" style="max-width: 40%; max-height:40%" class="rounded-circle" />
                    <div class="card-body">
                        <h5 class="card-title">@blog.Title</h5>
                        @* <p class="card-text">@blog.Description</p> *@
                    </div>
                    <div class="card-footer">
                        <div class="d-flex justify-content-between align-items-center">
                            <small class="text-muted">@blog.CreatedDateTime.ToShortDateString()</small>
                            <form asp-action="BlogDetail" asp-controller="Home" method="get">
                                <input type="hidden" name="blogId" value="@blog.Id" />
                                <button type="submit" class="btn btn-success">View</button>
                            </form>
                        </div>
                    </div>

                </div>
            </div>
        }
    </div>
</div>
