@model List<Domain.Bislerium.Blog>

@{
    ViewData["Title"] = "All Blogs";
}
<style>
    .blogs{
        font-size:smaller;
    }
</style>

<h5 class="text-center my-2">Blogs</h5>

<div class="container blogs-record">

    <div class="dropdown text-end mb-1 mt-0">
        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
            Sort by
        </button>
        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
            <li><a asp-action="Index" asp-route-sortBy="recency" class="dropdown-item">Recency</a></li>
            <li><a asp-action="Index" asp-route-sortBy="popularity" class="dropdown-item">Popularity</a></li>
            <li><a asp-action="Index" asp-route-sortBy="random" class="dropdown-item">Random</a></li>
        </ul>
    </div>


    <div class="row blogs">
        @foreach (var blog in Model)
        {
            <div class="col-md-3 mb-4">
                <div class="card">
                    <img src="https://localhost:7241/@blog.Image" class="card-img-top" style="height:150px" alt="@blog.Title">
                    <div class="card-body">
                        <h5 class="card-title">@blog.Title</h5>
                        <p class="card-text mb-0">Content: @blog.Description</p>
                        <p class="card-text mb-0">Popularity: @blog.Popularity</p>
                        <p class="card-text mb-0">Created Date: @blog.CreatedDateTime.ToShortDateString()</p>
                    </div>
                    <div class="card-body">
                        <a asp-action="BlogDetail" asp-controller="Home" asp-route-blogId="@blog.Id" class="card-link btn btn-sm btn-primary">Read Blog</a>
                    </div>
                </div>
            </div>
        }
    </div>
</div>
