@model Domain.Bislerium.Blog
@{
    ViewData["Title"] = "Edit Blog";
}

<h2 class="mb-3 text-center">Edit Blog</h2>
<hr />

@if (Model != null)
{
    <div class="form-group text-center mb-2">
        <img src="https://localhost:7241/@Model.Image" alt="@Model.Id" style="max-width: 10%; max-height:10%" class="rounded-circle" />
    </div>
    <div class="container">
        <div class="blog-header justify-content-center align-items-center p-3">
            <form method="post" asp-action="EditBlog" asp-controller="Blog" enctype="multipart/form-data">
                <div class="form-group">
                    <label asp-for="@Model.Title"></label>
                    <input asp-for="@Model.Title" class="form-control" />
                </div>

                <div class="form-group">
                    <label asp-for="@Model.Description"></label>
                    <textarea asp-for="@Model.Description" class="form-control"></textarea>
                </div>

                <div class="form-group">
                    <label>Image:</label>
                    <input type="file" name="image" class="form-control" />
                </div>
                <input type="text" name="blogId" value="@Model.Id" class="form-control" />

                <button type="submit" class="btn btn-sm btn-primary mt-2">Save Changes</button>
            </form>
        </div>
    </div>
}
else
{
    <p>Loading...</p>
}

@section Scripts {
    <script>
        // You can add any JavaScript scripts here if needed
    </script>
}
