@using Domain.Bislerium
@model List<Blog>

    <style>
       .table{
           font-size:smaller;
       }

       .table img{
           height:50px;
           width:50px;
       }
    </style>



<p class="text-center mt-1">My Blogs</p>

@if (Model != null && Model.Any())
{
    <div class="container mt-2">
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>Title</th>
                    <th>Description</th>
                    <th>Image</th>
                    <th>Created Date</th>
                    <th>Popularity</th>
                    <th>UpVote</th>
                    <th>DownVote</th>
                    <th>Comment</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var blog in Model)
                {
                    <tr>
                        <td>@blog.Title</td>
                        <td>@blog.Description</td>
                        <td><img src="https://localhost:7241/@blog.Image" alt="@blog.Id"/></td>
                        <td>@blog.CreatedDateTime.ToShortDateString()</td>
                        <td>@blog.Popularity</td>
                        <td>@blog.UpVote</td>
                        <td>@blog.DownVote</td>
                        <td>@blog.CommentCount</td>
                        <td class="d-flex gap-1">
                            <form asp-action="Edit" asp-controller="Blog">
                                <input type="hidden" name="blogId" value="@blog.Id" />
                                <button type="submit" class="btn btn-primary btn-sm">
                                    <i class="bi bi-pencil"></i>
                                </button>
                            </form>
                            <form method="post" asp-action="Delete" asp-controller="Blog">
                                <input type="hidden" name="blogId" value="@blog.Id" />
                                <button type="submit" class="btn btn-danger btn-sm">
                                    <i class="bi bi-trash"></i>
                                </button>
                            </form>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
}
else
{
    <div class="container mt-5">
        <p>No blogs available.</p>
    </div>
}
